.reset, h2, header nav, header nav ul, aside h4 {
  padding: 0;
  margin: 0; }

/****************************************************
GENERAL
****************************************************/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%; }

body {
  background-color: #2C3E50; }

a {
  text-decoration: none;
  color: #3498DB; }

h2 {
  color: #2C3E50; }

h3 {
  opacity: 0.8; }

p {
  color: #666;
  margin: 0 0 1.5em;
  padding: 0; }

section {
  float: left;
  width: 100%; }

/****************************************************
HEADER
****************************************************/
header {
  margin-bottom: 20px; }

header h1 a {
  color: #ECF0F1; }

h1 {
  text-align: center;
  width: 100%;
  font-family: 'Sansita One', cursive;
  font-size: 2.2em; }

body {
  font-size: 1em; }

.tagline {
  text-align: center;
  color: #3498DB;
  font-family: 'Sansita One', cursive;
  font-size: 1em; }

/****************************************************
NAV
****************************************************/
header nav {
  border-radius: 0px;
  width: 100%;
  background-color: #2C3E50; }

header nav ul {
  list-style: none;
  text-align: center; }

header nav li {
  display: inline-block;
  padding: 5px;
  margin: 0; }

header nav li .selected {
  color: #E74C3C; }

header nav li a {
  color: #3498DB; }

/****************************************************
SECTION NAV
****************************************************/
section ul {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #ccc; }

section li {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 39%;
  padding: 16px 5%;
  text-align: center;
  color: #3498DB;
  font-weight: bold; }

section .far-right-tab {
  float: right; }

section .selected {
  background-color: #ECF0F1;
  color: #E74C3C;
  font-weight: bold;
  opacity: 1; }

/****************************************************
ARTICLE
****************************************************/
article {
  background-color: #ECF0F1;
  border-radius: 0px;
  margin-bottom: 15px;
  padding: 20px 4% 10px; }

article .date {
  color: #E74C3C;
  font-size: 0.8em;
  font-weight: bold; }

article h2 {
  color: #2C3E50;
  margin: 10px 0 3px;
  padding: 0; }

article h3 {
  color: #2C3E50;
  font-size: 1em;
  margin: 0 0 3px;
  padding: 0; }

article p {
  font-size: 0.9em; }

/****************************************************
ASIDE
****************************************************/
aside {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0px 0 0;
  border-radius: 0px;
  background-color: #2980B9; }

aside h4 {
  color: #ECF0F1;
  font-size: 1.1em;
  margin: 15px 5%; }

aside h4 a {
  color: #2C3E50; }

aside .aside-portfolio {
  /*padding: 15px 5%; */
  background-color: #3498DB;
  display: inline-block;
  color: #ffffff;
  font-size: 0.8em; }

aside .aside-portfolio p {
  padding: 1.5em 5% 20px 5%; }

aside .aside-portfolio a {
  color: #2C3E50;
  display: block;
  padding: 0.5em 0 0.5em 5%;
  border-bottom: solid #8dcaee 1px; }

aside .aside-portfolio p {
  color: #ffffff;
  display: block; }

aside .aside-portfolio img {
  text-align: right;
  width: 214px;
  height: 214px;
  display: inline; }

/****************************************************
FORM
****************************************************/
#contact-form {
  margin: 0;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15px;
  padding-bottom: 50px; }

form p {
  font-size: 15px;
  padding: 0 0 10px 0;
  margin: 0; }

form {
  width: 100%; }

form input, form textarea {
  font-family: Arial;
  font-size: 15px;
  margin: 0 0 20px 0; }

form input {
  background: #f5f5f5;
  padding: 5px 2%;
  border: 1px solid #bbb;
  border-radius: 5px; }

form textarea {
  background: #f5f5f5;
  padding: 5px 2%;
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 400px;
  height: 100px; }

form input.send {
  color: #3498DB;
  background: #fff;
  border: #000;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  float: right;
  border-radius: 5px;
  margin-right: 0px; }

#senderName {
  width: 96%; }

#senderEmail {
  width: 96%; }

#senderMessage {
  width: 96%; }

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 4px; }

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  border-radius: 4px; }

/****************************************************
CONTACT FORM STATUS MESSAGES
****************************************************/
/* Dimensions and position of the status messages */
.statusMessage {
  display: none;
  margin: auto;
  width: 30em;
  height: 2em;
  padding: 1.5em;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.statusMessage p {
  text-align: center;
  margin: 0;
  padding: 0; }

/****************************************************
FOOTER
****************************************************/
footer {
  clear: both;
  text-align: center;
  font-size: 0.7em;
  padding: 20px 0 20px;
  color: #ECF0F1; }

footer a {
  color: #3498DB; }

/****************************************************
RESPONSIVE
****************************************************/
@media screen and (min-width: 660px) {
  /****************************************************
  PAGE: HEADER
  ****************************************************/
  header nav li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0; }
  header {
    border-radius: 4px;
    width: 100%;
    height: 70px;
    margin-top: 15px; }
  header h1 {
    float: left;
    width: 40%;
    margin: 15px 3%;
    padding: 0;
    text-align: left; }
  .tagline {
    float: right;
    width: 40%;
    margin-top: 30px;
    padding: 0;
    text-align: right;
    padding-right: 2%; }
  header nav {
    float: right;
    width: 40%;
    background-color: inherit;
    margin: 25px 0;
    padding: 0; }
  header nav ul {
    text-align: right;
    margin-right: 5%; }
  header h1 a {
    color: #ECF0F1; }
  /****************************************************
  PAGE: BODY
  ****************************************************/
  section {
    float: left;
    width: 69%; }
  aside {
    float: right;
    width: 29%; }
  aside .aside-portfolio {
    /*padding: 15px 5%; */
    background: #3498DB url("../img/lj.png") no-repeat right bottom; }
  aside .aside-portfolio p {
    padding: 1.5em 5% 170px 5%; }
  /****************************************************
  PAGE: FOOTER
  ****************************************************/
  footer {
    padding-top: 30px; } }